<h2>London</h2>
  
  <ul>
    <li>Today is <%= @london_temps[:today] %> degrees celsius</li>
    <li>Tomorrow will be <%= @london_temps[:tomorrow] %> degrees celsius</li>
    <li>The day after will be <%= @london_temps[:third_day] %> degrees celsius</li>
  </ul>

<h2>Manchester</h2>
  
  <ul>
    <li>Today is <%= @manchester_temps[:today] %> degrees celsius</li>
    <li>Tomorrow will be <%= @manchester_temps[:tomorrow] %> degrees celsius</li>
    <li>The day after will be <%= @manchester_temps[:third_day] %> degrees celsius</li>
  </ul>

<h2>Sunderland</h2>
  
  <ul>
    <li>Today is <%= @sunderland_temps[:today] %> degrees celsius</li>
    <li>Tomorrow will be <%= @sunderland_temps[:tomorrow] %> degrees celsius</li>
    <li>The day after will be <%= @sunderland_temps[:third_day] %> degrees celsius</li>
  </ul>
