<h2>London</h2>
  
  <ul>
    <li>The weather description for today is: <%= @london_weather[:description].capitalize %></li>
    <li>The temperature for today is: <%= @london_weather[:temperature] %> degrees celsius</li>
  </ul>

<h2>Manchester</h2>
  
  <ul>
    <li>The weather description for today is: <%= @manchester_weather[:description].capitalize %></li>
    <li>The temperature for today is: <%= @manchester_weather[:temperature] %> degrees celsius</li>
  </ul>

<h2>Sunderland</h2>
  
  <ul>
    <li>The weather description for today is: <%= @sunderland_weather[:description].capitalize %></li>
    <li>The temperature for today is: <%= @sunderland_weather[:description] %> degrees celsius</li>
  </ul>
